.filter-container {
    border: 1px solid #ccc;
    padding: 10px;
    width: 350px;
}

.filter-container button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.filter-container button,
.filter-container span {
    font-size: 10px;
}